 <h1 class="text-center text-primary"> Historique des resultats</h1>
<!--<div class="mb-5">
    <button class="btn btn-secondary" (click)="loadTable()"> LOAD TABLE</button>&nbsp;
    <button class="btn btn-success" (click)="AddElement()"> ADD Elt</button> &nbsp;
    <button class="btn btn-danger"(click)="delAll()"> <i class="fa fa-trash"> All &nbsp; </i> <span class="badge badge-light"> {{getNb()}} Elements </span> </button> 

    
</div>

<div class="container-fluid">
    <table class="table col-md-3">
        <thead>
            <tr>
                <th>Element</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of tableau; let i=index">
                <td>{{p.element}}</td>
                <td>
                    <button class="btn btn-danger" (click)="delElement(i,'tableTest')"> <i class="fa fa-trash"></i></button> &nbsp;
                    <button class="btn btn-primary" (click)="UpdateElement(i,'tableTest')"> <i class="fa fa-pen"></i></button> 
                </td>
            </tr>
        </tbody>
    </table>
</div> -->