<h3 class="text-center text-primary mt-3">
    Welcome to the Cyber Security Project
</h3>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
            <div class="text-center mt-3" >
                <video controls muted autoplay loop [muted]="true" [width]="600">
                <source src="assets/vid/cs.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>
            </div>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
            <div class="text-center mt-3" >
                <video controls muted autoplay loop [muted]="true" [width]="400">
                <source src="assets/vid/cs2.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>
            </div>
		</div>
		<div class="col-md-6">
            <div class="text-center mt-3" >
                <video controls muted autoplay loop [muted]="true" [width]="300">
                <source src="assets/vid/cs3.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>
            </div>
		</div>
	</div>
</div>

