

<div class="container">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<div class="text-center mt-3" >
				<video controls muted autoplay loop [muted]="true" [width]="400">
				<source src="assets/vid/cs2.mp4" type="video/mp4">
				Your browser does not support the video tag.
				</video>
			</div>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-md-6 text-end">
			<img  alt="LOGO Image Preview" src="assets/img/logo1.png" width="300px" data-holder-rendered="true" />
		</div>
		<div class="col-md-6 text-start">
			<h3 class="text-primary ">
				About TIRECS
			</h3>
			<p>
				CSP or Cyber Security Project is an app dedecated for testing networks and detecting faults.
				<br>
				DDoS security: DDoS stands for Distributed Denial for Service attack. 
				In this digital attack, the attacker uses multiple numbers of devices to keep the web server 
				engaged in accepting the requests sent by him from the multiple devices.
				<br>
				 It creates fake website traffic on the server. To deal with this, Cybersecurity helps to provide
				  a DDoS mitigation service to help cope with it which diverts the traffic to the other 
				  cloud-based servers and the situation gets resolved.
				<br>
				

			</p>
		</div>
	</div>
</div>

