<div >
    <h1 class="text-center "> Detection</h1>
</div>
<!-- 

<button class="btn btn-danger" (click)="show()"> show</button>
&nbsp;
<button class="btn btn-primary" (click)="filter('BENIGN')"> Benign</button>
&nbsp;
<button class="btn btn-secondary" (click)="filter('DoS Hulk')"> Dos</button>
&nbsp;
<button class="btn btn-warning" (click)="groupe()"> Groupe</button>
&nbsp;
<button class="btn btn-danger" (click)="keys()"> KEYS</button>
&nbsp;
<button class="btn btn-danger" (click)="test()"> Tester</button>

&nbsp;
<button class="btn btn-danger" (click)="groupedCsvJson()"> GroupedcsvJson</button>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>label</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of csvjsons | paginate:{id:'i',itemsPerPage:3,currentPage:page}; let i=index">
                        <td>{{p.date}}</td>
                        <td>{{p.label}}</td>
                    </tr>
                </tbody>
                <pagination-controls  id="i" (pageChange)="page = $event"> </pagination-controls>
            </table>
		</div>
		<div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>label</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let f of benign | paginate:{id:'ii',itemsPerPage:3,currentPage:page2}; let ii=index">
                        <td>{{f.date}}</td>
                        <td>{{f.label}}</td>
                    </tr>
                </tbody>               
                <pagination-controls  id="ii" (pageChange)="page2 = $event"> </pagination-controls>
            </table>
		</div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>nbBenign</th>
                        <th>nbDos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let f of benign | paginate:{id:'iii',itemsPerPage:3,currentPage:page3}; let iii=index">
                        <td>{{f.date}}</td>
                        <td>{{f.nbBenign}}</td>
                        <td>{{f.nbDos}}</td>
                    </tr>
                </tbody>  
            </table>
		</div>
	</div>
</div>



 -->
